<template>
    <media-modal @media-modal-close="close()" :size="size" :show="show" v-if="show">
        <div>
            <div class="modal-header">
                <button class="close" type="button" @click="close()">×</button>
                <h4 class="modal-title">Renommer un élément</h4>
            </div>

            <div v-if="loading" class="text-center">
                <span class="spinner icon-spinner2"></span>Chargement...
            </div>

            <div v-else>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nom actuel</label>
                        <p class="form-control-static">{{ this.getItemName(this.currentFile) }}</p>
                    </div>

                    <div class="form-group fg-line">
                        <label>Nouveau nom</label>
                        <input type="text" v-model="newItemName" class="form-control" @keyup.enter="renameItem()">
                    </div>

                    <media-errors :errors="errors"></media-errors>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" @click="renameItem()">
                        Appliquer
                    </button>
                    <button class="btn btn-default" type="button" @click="close()">
                        Annuler
                    </button>
                </div>
            </div>
        </div>
    </media-modal>
</template>

<script>
    export default{
        props:{
            currentPath:{},

            currentFile:{},

            /**
             * Default route prefix
             */
            prefix: {
                default : '/admin/'
            },

            show:{
                default : false
            }
        },

        data(){
            return {
                errors: [],
                loading: false,
                newItemName: null,
                size: 'modal-md'
            }
        },

        mounted(){
            document.addEventListener("keydown", (e) => {
                if (this.show && e.keyCode === 13) {
                    this.renameItem();
                }
            });
        },

        methods: {
            close(){
                this.errors = [];
                this.newItemName = null;
                this.loading = false;
                this.$emit('media-modal-close');
            },

            renameItem(){

                if (!this.newItemName) {
                    this.errors = ['Merci de saisir un nouveau nom pour cet élément'];
                } else {
                    this.loading = true;
                    const original = this.getItemName(this.currentFile);

                    const data = {
                        'path': this.currentPath,
                        'original': original,
                        'newName': this.newItemName,
                        'type': (this.isFolder(this.currentFile)) ? 'Folder' : 'File'
                    };

                    axios.post(`${this.prefix}browser/rename`, data).then(
                             (response) => {
                                window.eventHub.$emit('media-manager-reload-folder');
                                this.mediaManagerNotify(response.data.success);
                                this.close();
                            },
                             (error) => {
                                this.errors = (error.response.data.error) ? error.response.data.error : error.response.statusText;
                                this.mediaManagerNotify(this.errors,'danger');
                                this.loading = false;
                            }
                    );
                }
            }
        }

    }
</script>
